# Backend
export SECRET_KEY=secret
# JWT
export ROTATE_REFRESH=1

# External port
export BACKEND_PORT=8009

# DATABASE
export DB_USER=user
export DB_PASS=pass
export DB=db
export DB_PORT=5821

# Docker compose profiles
# export COMPOSE_PROFILES=backend,database
export COMPOSE_PROFILES=backend

# Database
# export SQLALCHEMY_DATABASE_URL="postgresql+asyncpg://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
export SQLALCHEMY_DATABASE_URL="postgresql+asyncpg://user:pass@0.0.0.0:5821/db"
export SQLALCHEMY_EXPIRE_ON_COMMIT=1
export DB_MOUNT_DEST=""
export DB_MOUNT=""